# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/dist

# Firebase
.firebase/
.firebaserc
firebase-debug.log

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log